In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s= pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
x = pd.Series([1,2,3,4], index=['a','b','c','d'])
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
print(x['a'])

1

In [6]:
data = {'Math': 85, 'Science': 90, 'English': 78, 'History': 82}
marks = pd.Series(data)
print(data)
print(marks)

{'Math': 85, 'Science': 90, 'English': 78, 'History': 82}
Math       85
Science    90
English    78
History    82
dtype: int64

In [9]:
data = {
    "Name": ["Aman", "Ravi", "Priya"],
    "Age": [20, 22, 19],
    "Marks": [83,85,84]
}
print(data)

{'Name': ['Aman', 'Ravi', 'Priya'], 'Age': [20, 22, 19], 'Marks': [83, 85, 84]}

In [10]:
marks = pd.DataFrame(data,
                     index=['Student1', 'Student2', 'Student3']
                     )

In [11]:
print(marks)

           Name  Age  Marks
Student1   Aman   20     83
Student2   Ravi   22     85
Student3  Priya   19     84

In [14]:
df = pd.DataFrame({
    "Name": ["Aman", "Ravi", "Priya"],
    "Age": [20, 22, 19],
    "Marks": [85,90,88]
})

In [15]:
df.head()

    Name  Age  Marks
0   Aman   20     85
1   Ravi   22     90
2  Priya   19     88